body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0e0e0;
    /*background-color: #bbdefb;*/
}

#main {
	flex: 1 0 auto;
}

nav{
	background-color: #1976D2;
	/*background-color: black;*/
}

nav .brand-logo{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Questrial', sans-serif;
	margin-left: 50px;
}

nav .logo2{
	margin-left: 0px;
}

nav ul li a{
	font-size: 24px;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
}

.side-nav li a{
	font-size: 24px;
}

.login{
	padding: 0px !important;
	margin-top: 60px;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 0px 1px 3px 1px black;
	border: 1px solid black;
}

.login input{
	font-size: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login h2{
	margin-top: 0px !important;
	margin-bottom: 60px;
	background-color: #1976D2;
	color: white;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-family: 'Questrial', sans-serif;
	border-bottom: 2px solid black;
}

.login .input-field{
	font-size: 20px;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.login label{
	color: black;
}

.login input{
	border-bottom: 1px solid black;
}

.login .loginBtn{
	margin-top: 40px;
	background-color: #1976D2;
	font-size: 20px;
	border-top: 2px solid black;
	border-right: 1px solid black;
}

.login .loginBtn a{
	color: white;
}

.login .signupBtn{
	margin-top: 40px;	
	background-color: #43a047;
	font-size: 20px;
	border-top: 2px solid black;
	border-left: 1px solid black;
}

.signup h2{
	background-color: #43a047;
}

#usernameMessage, #passwordMessage{
	color: black;
	font-weight: bold;
}

#signupSuccess{
	margin-top: 150px;
	display: none;
}

#signupSuccess h3{
	font-size: 50px;
	margin-bottom: 30px;
}

#signupSuccess a{
	background-color: #43a047;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 0px 1px 5px 1px black;
}

.mobileName{
	font-size: 20px !important;
	padding-bottom: 10px;
	margin-bottom: -10px !important;
}

.mobilePic{
	width: 80px !important;
	height: 80px !important;
	border: 3px solid white;
}

.logout{
	margin-top: 100px;
}

.logout p{
	font-size: 40px;
}

.content{
	margin-left: 25% !important;
}

.container2{
	width: 100%;
	overflow: hidden;
}

.friends{
	font-size: 30px;
	/*background-color: #448aff;*/
	/*background-color: #2962ff;*/
	/*background-color: #0d47a1;*/
	background-color: black;
	position: fixed;
	top: 15px;
    bottom: 0px;
    overflow-y: scroll;
    z-index: 1;
}

.friends::-webkit-scrollbar {
	display: none;
}
.friends:-moz-scrollbar { /* Mozilla Firefox 4 to 18 */
   color: #757575;
   opacity:  1;
}
.friends::-moz-scrollbar { /* Mozilla Firefox 19+ */
   color: #757575;
   opacity:  1;
}
.friends:-ms-scrollbar { /* Internet Explorer 10-11 */
   color: #757575;
}
.friends::-ms-scrollbar { /* Microsoft Edge */
   color: #757575;
}

.friends ul{
	margin-top: 50px;
}

.friends div{
	height: 50px;
	width: 50px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	border: 3px solid white;
	border-radius: 50%;
}

.friends img{
	width: 100%;
}

.friends span{
	color: white;
	font-size: 20px;
}

.friends li{
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 1s;
}

.friends li:hover{
	background-color: #1976D2;
	cursor: pointer;
	margin-right: -20px;
	margin-left: -5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #757575;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #757575;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #757575;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #757575;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #757575;
}

.container3{
	width: 95%;
}

.content .profile{
	width: 200px;
	height: 200px;
	border: 3px solid white;
}

.changePhoto{
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	opacity: .5;
	cursor: pointer;
}

.changePhoto .profileBtn{
	float: none;
	padding-left: 40px;
	padding-right: 40px;
}

.changePhoto .profileBtn:hover{
	cursor: pointer;
}

#profileForm{
	padding-left: 0px !important;
	padding-right: 0px !important;
	top: 120 !important;
}

.fullName{
	opacity: 0;
}

/*.content .profile2{
	width: 200px;
	height: 200px;
	border: 3px solid white;
	object-fit: cover;
	top: 0;
}*/

.fill {
    width: 200px;
    height: 200px;
    border: 4px solid white;
    outline: 1px solid black;
	position: relative;
    overflow: hidden;
    margin: auto;
    background-color: white;
    margin-bottom: 30px;
    margin-top: -100px;
}

.fill img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fill2 {
    width: 100px;
    height: 100px;
    border: 3px solid white;
	position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.fill2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.profileSubmit{
	display: none;
}

#coverForm .coverBtn{
	float: right;
	margin-right: 50px;
}

.background img{
	width: 100%;
	filter: brightness(60%);
}

.musicLine{
	display: none;
}

#musicForm .btn{
	float: none;
	filter: brightness(50%);
}

.cover {
    width: 110%;
    margin-left: -5%;
    height: 300px;
    border-bottom: 3px solid white;
    outline: 1px solid black;
	position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 0;
    box-shadow: 0px 0px 5px 2px black;
}

.cover img {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    width: 100%;
}

.coverForm .btn{
	margin-top: 100px !important;
}

.changeCover{
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.changeCover .profileBtn{
	float: none;
	filter: brightness(50%);
}

.changeCover .profileBtn:hover{
	cursor: pointer;
}

#musicForm{
	float: right;	
	margin-top: 130px;
}

#coverForm{
	float: right;
	margin-right: 50px;
	margin-top: 130px;
}

.bio{
	font-size: 20px;
}

.statusArea{
	margin-top: 50px;
}

.status{
	background-color: white;
	height: 150px;
	font-size: 20px;
	padding: 15px;
	resize: none;
	/*border: 1px solid black;*/
	/*box-shadow: 0px 1px 3px 1px black;*/
	padding-left: 160px;
	line-height: 25px;
	border: 1px solid black;
	transition: 1s;
}

#statusForm input{
	/*box-shadow: 1px 1px 3px 1px black;*/
	margin-top: -3px;
	border: 1px solid black;
	background-color: #1976D2;
	font-size: 20px;
}

.postPic{
	height: 150px;
	width: 150px;
	overflow: hidden;
	position: absolute;
	margin-left: 93px;
	border: 1px solid black;
	/*box-shadow: 0px 1px 3px 1px black;*/
}

.postPic img{
	width: 100%;
}

.feed{
	margin-top: 50px;
}

.post .postPic{
	height: 150px;
	width: 150px;
	overflow: hidden;
	position: absolute;
	margin-left: 0px;
	border: 1px solid black;
	/*box-shadow: 0px 1px 3px 1px black;*/
}

.postContent{
	background-color: white;
	height: 150px;
	font-size: 20px;
	padding: 15px;
	padding-top: 30px;
	resize: none;
	/*border: 1px solid black;*/
	/*box-shadow: 0px 1px 3px 1px black;*/
	padding-left: 160px;
	text-align: left;
	line-height: 25px;
	border: 1px solid black;
	transition: 1s;
}

.post{
	margin-bottom: 70px;
}

.date{
	text-align: left;
	padding-left: 160px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	background-color: black;
	color: white;
}

.date a{
	color: white;
	font-weight: bold;
}

.date a:hover{
	text-decoration: underline;
}

.comment{
	background-color: white;
	height: 70px;
	font-size: 20px;
	padding: 10px;
	resize: none;
	/*border: 1px solid black;*/
	/*box-shadow: 0px 1px 3px 1px black;*/
	line-height: 25px;
	border: 1px solid black;
	transition: 1s;
}

#commentForm input{
	margin-top: -3px !important;
}

@media screen and (max-width: 600px){
	nav .brand-logo{
		margin-left: 20px;
	}
}